<main class="bg-light">
        <section class="hidden">
            <h2>My Favorite Trails</h2>
            <div class="card-deck">
                <div class="card" id="one">
                    
                        <img class="trail-img img-thumbnail" src="/assets/background-img-login.jpg" alt="Card image cap">
                        <button class='complete-btn btn btn-success'>Completed</button>
                        <button class='remove-btn btn btn-danger' id="1">Remove</button>
                    
                  <div class="card-body">
                    <h5 class="card-title trail-name">Name of the trail</h5>
                    <p class="card-text place">Name of the place</p>
                    <label for="" class="difficulty=level">Difficult</label>
                    <p class="distance">Length : 3km </p>
                  </div>
                </div>
                <div class="card">
                    <div class="top-content">
                        <img class="trail-img img-thumbnail" src="/assets/background-img-login.jpg" alt="Card image cap">
                        <button class='complete-btn btn btn-success'>Completed</button>
                        <button class='remove-btn btn btn-danger'>Remove</button>
                    </div>                
                  <div class="card-body">
                    <h5 class="card-title trail-name">Name of the trail</h5>
                    <p class="card-text place">Name of the place</p>
                    <label for="" class="difficulty=level">Difficult</label>
                    <p class="distance">Length : 3km </p>
                  </div>
                </div>
                <div class="card">
                    <div class="top-content">
                        <img class="trail-img img-thumbnail" src="/assets/background-img-login.jpg" alt="Card image cap">
                        <button class='complete-btn btn btn-success'>Completed</button>
                        <button class='remove-btn btn btn-danger'>Remove</button>
                    </div>                
                  <div class="card-body">
                    <h5 class="card-title trail-name">Name of the trail</h5>
                    <p class="card-text place">Name of the place</p>
                    <label for="" class="difficulty=level">Difficult</label>
                    <p class="distance">Length : 3km </p>
                  </div>
                </div>
            </div>
        </section>

        <section>
            <h2>All Trails</h2>
            <div class="card-deck">
                <div class="card" id="one">
                    
                        <img class="trail-img img-thumbnail" src="/assets/background-img-login.jpg" alt="Card image cap">
                        <button class='complete-btn btn btn-success'>Completed</button>
                        <button class='remove-btn btn btn-success' id="1">Add</button>
                    
                  <div class="card-body">
                    <h5 class="card-title trail-name">Name of the trail</h5>
                    <p class="card-text place">Name of the place</p>
                    <label for="" class="difficulty=level">Difficult</label>
                    <p class="distance">Length : 3km </p>
                  </div>
                </div>
                <div class="card">
                    <div class="top-content">
                        <img class="trail-img img-thumbnail" src="/assets/background-img-login.jpg" alt="Card image cap">
                        <button class='complete-btn btn btn-success'>Completed</button>
                        <button class='remove-btn btn btn-success'>Add to favorites</button>
                    </div>                
                  <div class="card-body">
                    <h5 class="card-title trail-name">Name of the trail</h5>
                    <p class="card-text place">Name of the place</p>
                    <label for="" class="difficulty=level">Difficult</label>
                    <p class="distance">Length : 3km </p>
                  </div>
                </div>
                <div class="card">
                    <div class="top-content">
                        <img class="trail-img img-thumbnail" src="/assets/background-img-login.jpg" alt="Card image cap">
                        <button class='complete-btn btn btn-success'>Completed</button>
                        <button class='remove-btn btn btn-success'>Add</button>
                    </div>                
                  <div class="card-body">
                    <h5 class="card-title trail-name">Name of the trail</h5>
                    <p class="card-text place">Name of the place</p>
                    <label for="" class="difficulty=level">Difficult</label>
                    <p class="distance">Length : 3km </p>
                  </div>
                </div>
            </div>
            
        </section>
    </main>
