<div class="bg-div">
  <img class="bg-img" src="/assets/background-img-login.jpg" />
  <div class="form-container login">
    <form class="login-form">
       <h1 class="col-12">Log In</h1>
      <div>
        <label for="email-login" class="col-12 login-email">Email:</label>
        <input type="text" id="email-login" class="col-12"/>
      </div>
      <div>
        <label for="password-login" class="col-12 login-password">Password:</label>
        <input type="password" id="password-login" class="col-12"/>
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Log In</button>
      </div>
    </form>
  </div>
</div>
<script src="/javascript/login.js"></script>