<div class="bg-div">
  <img class="bg-img" src="/assets/background-img-login.jpg" />
  <div class="form-container signup">
    <form class="signup-form">
      <h1 class="col-12" id="signup-header">Sign Up</h1>
      <div>
        <label for="username-signup" class="col-12 signup-name">Username:</label>
        <input type="text" id="username-signup" class="col-12"/>
      </div>
      <div>
        <label for="email-signup" class="col-12 signup-email">Email:</label>
        <input type="text" id="email-signup" class="col-12" />
      </div>
      <div>
        <label for="password-signup" class="col-12 signup-password">Password:</label>
        <input type="password" id="password-signup" class="col-12" />
      </div>
      <div>
        <button type="submit" class="btn btn-primary">Signup</button>
      </div>
    </form>
  </div>
</div>


<script src="/javascript/signup.js"></script>