
/* ===================================  homepage/dashboard css ========================================================*/

.hidden {
    display: none; 
} 


header {
    margin-bottom: 20px;
}

.logo-img {
    width: 20%;
    height:20%;
    border: none;
}

.complete-btn,.incomplete-btn {
    position:absolute; 
    top:10px; 
    right:10px;
}



.remove-btn, .add-btn {
    position:absolute ; 
    bottom:10px; 
    right:10px;
}

.trail-img {
    position: relative;
    width: 500px;
    height: 340px;
    transition: 1s;
}
.trail-img:hover {
    filter: brightness(75%);
    
}

.difficulty-level {
    color: white;
    text-align: center;
    border: none;
    width: 7rem;
    height: fit-content;
    background-color: cornflowerblue;
    padding: .375rem .75rem;
    border-radius: 10px;
    font-size: 16px;
}


.card
{
  box-shadow: 5px 5px 5px lightgray;  
}

section {
    margin: 15px;
}

h2 {
    margin: 5px;
    padding: 6px;
}

.easy {
    background-color : rgb(47, 149, 231);
    color:white;
}

.moderate {
    background-color :rgb(109, 92, 216);
    color: white;
}

.difficult {
    background-color : rgb(54, 52, 52);
    color: white;
}

button, .trail-img {
    cursor: pointer;
}

/* ==================================== welcome page css ================================================== */
.home {
  position: absolute;
  width: 1285px;
  height: 954px;
  background: url(/public/assets/background-img-login.jpg);
  border: 1px solid #000000;
  box-sizing: border-box;
}

